<div class="hero">
  <br />
  <div class = "frosty col-10 offset-1">
    <%= link_to 'Owners - portal', townhouses_path, class: 'btn btn-info' %>
  </div>
  <br />
  <div class = "frosty col-10 offset-1">
    <%= link_to 'Tenants - portal', '#', class: 'btn btn-info' %>
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Announcements</h3>
  </div>

  <div class="col-12 col-sm">
    <h3>Link to Town of Vienna</h3>
  </div>
</div>




