<div>
  <p class="OPW col-10 offset-1">
    Weather for Vienna is currently unavailable
  </p>
</div>
<script type="text/javascript">
  $(function(){
    $.get("https://api.openweathermap.org/data/2.5/weather?zip=22180&units=imperial&appid=14ba1e61c196464337b5c7308123133f", function( data ) {
      console.log(data);
      var temp = data.main.temp;
      var humidity = data.main.humidity;
      var description = data.weather[0].description;
      var pelement = $('p.OPW');
      pelement.html("Currently the weather in Vienna VA is " + temp + "F with " + description + " and a " + humidity + "% humidity.");
    });
  });
</script>
<div class="hero">
  <br />
  <div class = "frosty col-10 offset-1">
    <br />
    <%= link_to 'Restricted to Owners', townhouses_path, class: 'btn btn-info btn-lg' %>
    <br />
    <br />
  </div>
  <br />
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Announcements</h3>
    <% if @gram.present? %>
      <p><%= @gram.announcement %></p>
    <% else %>
      <p>There are no announcements at this time</p>
    <% end %>
  </div>
</div>
<br />
<hr>

<%= link_to 'Please Provide Feedback and Suggestions to Make this site better', new_feedback_path %>
<p>Example of feedback:</p>
<% if @feedback.present? %>
  <%= @feedback.message %>
<% end %>
<hr>