<h1>Community Announcements</h1>
<p>These announements will be posted on the first page</p>

<div class="booyah-box">
  <%= simple_form_for @gram do |f| %>
    <%= f.input :announcement %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
